<app-nav></app-nav>
<div class="container">
  <div class="row div col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
    <class class="class">
      
        <tr>
          <th>userid</th>
          <th>userid</th>
          <th>userid</th>
          <th>userid</th>
        </tr>
        <tr *ngFor="for i of todo">
          <td>{{i.userid}}</td>
          <td>{{i.id}}</td>
          <td>{{i.title}}</td>
          <td>{{i.completed}}</td>
        </tr>
  
    </class>
  </div>
</div>
<router-outlet></router-outlet>
